<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-of-libraries" data-toc-modified-id="Import-of-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import of libraries</a></span></li><li><span><a href="#Human-trafficking-data" data-toc-modified-id="Human-trafficking-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Human trafficking data</a></span><ul class="toc-item"><li><span><a href="#Data-import-&amp;-sneak-peek" data-toc-modified-id="Data-import-&amp;-sneak-peek-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Data import &amp; sneak peek</a></span></li><li><span><a href="#&quot;Europeanization&quot;-of-the-data" data-toc-modified-id="&quot;Europeanization&quot;-of-the-data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>"Europeanization" of the data</a></span></li><li><span><a href="#Scrub-of-the-columns" data-toc-modified-id="Scrub-of-the-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Scrub of the columns</a></span></li></ul></li><li><span><a href="#Countries-to-clusters-data" data-toc-modified-id="Countries-to-clusters-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Countries-to-clusters data</a></span><ul class="toc-item"><li><span><a href="#Global-Competitiveness-Index" data-toc-modified-id="Global-Competitiveness-Index-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Global Competitiveness Index<br></a></span></li><li><span><a href="#Corruption-Perceptions-Index" data-toc-modified-id="Corruption-Perceptions-Index-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Corruption Perceptions Index<br></a></span></li><li><span><a href="#Fragile-States-Index" data-toc-modified-id="Fragile-States-Index-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Fragile States Index<br></a></span></li><li><span><a href="#Global-Slavery-Index" data-toc-modified-id="Global-Slavery-Index-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Global Slavery Index<br></a></span></li><li><span><a href="#Migration-Integration-Policy-Index" data-toc-modified-id="Migration-Integration-Policy-Index-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Migration Integration Policy Index<br></a></span></li><li><span><a href="#Country-Statistics" data-toc-modified-id="Country-Statistics-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Country Statistics<br></a></span></li><li><span><a href="#The-merge-of-the-countries'-variables" data-toc-modified-id="The-merge-of-the-countries'-variables-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>The merge of the countries' variables</a></span></li><li><span><a href="#Adding-column-'node_type'" data-toc-modified-id="Adding-column-'node_type'-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Adding column 'node_type'<br></a></span></li><li><span><a href="#Standardization-of-the-country-data-(StandardScaler)" data-toc-modified-id="Standardization-of-the-country-data-(StandardScaler)-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Standardization of the country data (StandardScaler)</a></span></li><li><span><a href="#Countries-to-clusters:-K-means-Cluster-Analysis" data-toc-modified-id="Countries-to-clusters:-K-means-Cluster-Analysis-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Countries-to-clusters: K-means Cluster Analysis</a></span></li><li><span><a href="#Cluster-Profiling" data-toc-modified-id="Cluster-Profiling-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Cluster Profiling</a></span></li><li><span><a href="#Connect-to-SQL-for-general-analysis" data-toc-modified-id="Connect-to-SQL-for-general-analysis-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Connect to SQL for general analysis</a></span></li></ul></li></ul></div>

# UpRouted

## Import of libraries

In [1]:
import getpass
import numpy as np
import pandas as pd
import pymysql
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

## Human trafficking data

### Data import & sneak peek

In [2]:
ht = pd.read_csv('/Users/elissadejong/UpRouted/data_files/CTDC_synthetic_20210825.tsv', sep='\t')

In [3]:
ht.head()

,yearOfRegistration,gender,ageBroad,majorityStatusAtExploit,traffickMonths,citizenship,CountryOfExploitation,meansOfControlDebtBondage,meansOfControlTakesEarnings,meansOfControlThreats,...,typeOfLabourDomesticWork,typeOfLabourHospitality,typeOfLabourOther,typeOfSexProstitution,typeOfSexPornography,typeOfSexOther,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther
0,2015.0,Male,30--38,NaN,13--24 (1-2 yrs),UKR,RUS,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2015.0,Male,30--38,NaN,13--24 (1-2 yrs),UKR,RUS,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2015.0,Male,30--38,NaN,13--24 (1-2 yrs),UKR,RUS,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2015.0,Male,30--38,NaN,13--24 (1-2 yrs),UKR,RUS,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2015.0,Male,30--38,NaN,13--24 (1-2 yrs),UKR,RUS,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [4]:
ht.shape

(193051, 37)

In [5]:
ht.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193051 entries, 0 to 193050
Data columns (total 37 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   yearOfRegistration                    153740 non-null  float64
 1   gender                                145930 non-null  object
 2   ageBroad                              102270 non-null  object
 3   majorityStatusAtExploit               40280 non-null   object
 4   traffickMonths                        20720 non-null   object
 5   citizenship                           104600 non-null  object
 6   CountryOfExploitation                 125690 non-null  object
 7   meansOfControlDebtBondage             10200 non-null   float64
 8   meansOfControlTakesEarnings           20810 non-null   float64
 9   meansOfControlThreats                 25140 non-null   float64
 10  meansOfControlPsychologicalAbuse      26290 non-null   float64
 11  meansOfControlPhysicalAbuse           18510 non-null   float64
 12  meansOfControlSexualAbuse             8800 non-null    float64
 13  meansOfControlFalsePromises           18660 non-null   float64
 14  meansOfControlPsychoactiveSubstances  8510 non-null    float64
 15  meansOfControlRestrictsMovement       24500 non-null   float64
 16  meansOfControlRestrictsMedicalCare    8020 non-null    float64
 17  meansOfControlExcessiveWorkingHours   16410 non-null   float64
 18  meansOfControlThreatOfLawEnforce      9050 non-null    float64
 19  meansOfControlWithholdsNecessities    11580 non-null   float64
 20  meansOfControlWithholdsDocuments      13880 non-null   float64
 21  meansOfControlOther                   12830 non-null   float64
 22  isForcedLabour                        42340 non-null   float64
 23  isSexualExploit                       63280 non-null   float64
 24  isOtherExploit                        10150 non-null   float64
 25  typeOfLabourAgriculture               5650 non-null    float64
 26  typeOfLabourConstruction              4340 non-null    float64
 27  typeOfLabourDomesticWork              8110 non-null    float64
 28  typeOfLabourHospitality               2750 non-null    float64
 29  typeOfLabourOther                     11030 non-null   float64
 30  typeOfSexProstitution                 16870 non-null   float64
 31  typeOfSexPornography                  2900 non-null    float64
 32  typeOfSexOther                        1860 non-null    float64
 33  recruiterRelationIntimatePartner      5240 non-null    float64
 34  recruiterRelationFriend               7420 non-null    float64
 35  recruiterRelationFamily               5840 non-null    float64
 36  recruiterRelationOther                18970 non-null   float64
dtypes: float64(31), object(6)
memory usage: 54.5+ MB

checking null values:

In [6]:
ht.isna().sum()/len(ht)*100

yearOfRegistration                      20.363013
gender                                  24.408576
ageBroad                                47.024361
majorityStatusAtExploit                 79.135047
traffickMonths                          89.267085
citizenship                             45.817426
CountryOfExploitation                   34.892852
meansOfControlDebtBondage               94.716422
meansOfControlTakesEarnings             89.220465
meansOfControlThreats                   86.977534
meansOfControlPsychologicalAbuse        86.381837
meansOfControlPhysicalAbuse             90.411860
meansOfControlSexualAbuse               95.441619
meansOfControlFalsePromises             90.334160
meansOfControlPsychoactiveSubstances    95.591838
meansOfControlRestrictsMovement         87.309053
meansOfControlRestrictsMedicalCare      95.845657
meansOfControlExcessiveWorkingHours     91.499656
meansOfControlThreatOfLawEnforce        95.312120
meansOfControlWithholdsNecessities      94.001585
meansOfControlWithholdsDocuments        92.810190
meansOfControlOther                     93.354088
isForcedLabour                          78.067972
isSexualExploit                         67.221097
isOtherExploit                          94.742322
typeOfLabourAgriculture                 97.073312
typeOfLabourConstruction                97.751889
typeOfLabourDomesticWork                95.799038
typeOfLabourHospitality                 98.575506
typeOfLabourOther                       94.286484
typeOfSexProstitution                   91.261377
typeOfSexPornography                    98.497806
typeOfSexOther                          99.036524
recruiterRelationIntimatePartner        97.285691
recruiterRelationFriend                 96.156456
recruiterRelationFamily                 96.974893
recruiterRelationOther                  90.173581
dtype: float64

as column #7 to #36 refer to boolean bits, the null values are filled with 0:

In [7]:
ht[ht.columns[7:]] = ht[ht.columns[7:]].fillna(0).astype(int)

keeping only the columns with less than 75% of null values:

In [8]:
ht = ht.loc[:, ht.isnull().sum() < 0.75*ht.shape[0]]
ht.shape

(193051, 35)

standardizing the column headers:

In [9]:
def standardizing_headers(df):
    cols = []
    for i in range(len(df.columns)):
        cols.append(df.columns[i].lower().replace(' ','_'))
    return cols
   
ht.columns = standardizing_headers(ht)
ht.head()

,yearofregistration,gender,agebroad,citizenship,countryofexploitation,meansofcontroldebtbondage,meansofcontroltakesearnings,meansofcontrolthreats,meansofcontrolpsychologicalabuse,meansofcontrolphysicalabuse,...,typeoflabourdomesticwork,typeoflabourhospitality,typeoflabourother,typeofsexprostitution,typeofsexpornography,typeofsexother,recruiterrelationintimatepartner,recruiterrelationfriend,recruiterrelationfamily,recruiterrelationother
0,2015.0,Male,30--38,UKR,RUS,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1
1,2015.0,Male,30--38,UKR,RUS,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1
2,2015.0,Male,30--38,UKR,RUS,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1
3,2015.0,Male,30--38,UKR,RUS,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1
4,2015.0,Male,30--38,UKR,RUS,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1

### "Europeanization" of the data
keeping only rows with 'country of exploitation' AND 'citizenship' of European countries:

In [10]:
iso = pd.read_csv('/Users/elissadejong/UpRouted/data_files/iso_codes.csv')
iso.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [11]:
eur_countries = iso[iso.region == 'Europe']

adding the transcontinental European countries as well (Russia is already included):

In [12]:
eur_countries = eur_countries.append(iso[iso.name == 'Azerbaijan'])
eur_countries = eur_countries.append(iso[iso.name == 'Kazakhstan'])
eur_countries = eur_countries.append(iso[iso.name == 'Georgia'])
eur_countries = eur_countries.append(iso[iso.name == 'Turkey'])

In [13]:
len(eur_countries)

55

In [14]:
eur_iso_3 = eur_countries['alpha-3'].tolist()

In [15]:
eur_ht = ht[(ht['citizenship'].isin(eur_iso_3)) & (ht['countryofexploitation'].isin(eur_iso_3))]

In [16]:
eur_ht.shape

(17585, 35)

In [17]:
eur_ht['citizenship'].value_counts()

UKR    9975
BLR    1912
ROU    1804
MDA     977
BGR     894
KAZ     500
RUS     463
ALB     295
SRB     261
HUN     169
SVK     104
PRT      76
POL      60
BIH      45
TUR      38
AZE       8
GEO       4
Name: citizenship, dtype: int64

In [18]:
eur_ht['countryofexploitation'].value_counts()

RUS    8372
POL    1874
TUR     924
UKR     789
SRB     634
ROU     533
DEU     489
BGR     468
ITA     430
BIH     415
KAZ     412
MKD     381
BLR     339
MDA     287
ALB     251
CZE     154
GRC     127
ESP     120
GBR      91
SWE      80
NLD      59
CHE      55
AUT      52
DNK      52
FRA      50
PRT      42
IRL      33
SVK      32
GEO      22
BEL       8
FIN       4
LTU       3
NOR       2
HUN       1
Name: countryofexploitation, dtype: int64

### Scrub of the columns 
- 'year of registration'<br> 
conversion to integers and dropping the null values:

In [19]:
eur_ht['yearofregistration'] = eur_ht['yearofregistration'].fillna(0).astype(int)

In [20]:
eur_ht = eur_ht[eur_ht.yearofregistration != 0]

In [21]:
eur_ht['yearofregistration'].value_counts()

2005    1439
2006    1318
2017    1120
2007     997
2016     980
2012     844
2015     815
2014     803
2002     673
2013     668
2018     537
2011     532
2010     343
2019     343
2003     337
2004     312
2020     190
2009     150
2008     117
2021      23
Name: yearofregistration, dtype: int64

- 'gender' and 'agebroad' columns<br>
prettifying the values and replacement of null values with the respective modes:

In [22]:
eur_ht['gender'].value_counts()

Female    6444
Male      4554
Name: gender, dtype: int64

In [23]:
eur_ht['gender'] = eur_ht['gender'].str.replace("Female","F")
eur_ht['gender'] = eur_ht['gender'].str.replace("Male","M")

In [24]:
eur_ht['agebroad'].value_counts()

30--38    2452
18--20    1507
21--23    1459
24--26    1179
39--47    1105
48+        861
27--29     778
09--17     532
0--8        63
Name: agebroad, dtype: int64

In [25]:
eur_ht['agebroad'] = eur_ht['agebroad'].str.replace("--","-")
eur_ht['agebroad'] = eur_ht['agebroad'].str.replace("+","-100")

In [26]:
eur_ht.isna().sum()/len(ht)*100

yearofregistration                      0.000000
gender                                  0.799271
agebroad                                1.349384
citizenship                             0.000000
countryofexploitation                   0.000000
meansofcontroldebtbondage               0.000000
meansofcontroltakesearnings             0.000000
meansofcontrolthreats                   0.000000
meansofcontrolpsychologicalabuse        0.000000
meansofcontrolphysicalabuse             0.000000
meansofcontrolsexualabuse               0.000000
meansofcontrolfalsepromises             0.000000
meansofcontrolpsychoactivesubstances    0.000000
meansofcontrolrestrictsmovement         0.000000
meansofcontrolrestrictsmedicalcare      0.000000
meansofcontrolexcessiveworkinghours     0.000000
meansofcontrolthreatoflawenforce        0.000000
meansofcontrolwithholdsnecessities      0.000000
meansofcontrolwithholdsdocuments        0.000000
meansofcontrolother                     0.000000
isforcedlabour                          0.000000
issexualexploit                         0.000000
isotherexploit                          0.000000
typeoflabouragriculture                 0.000000
typeoflabourconstruction                0.000000
typeoflabourdomesticwork                0.000000
typeoflabourhospitality                 0.000000
typeoflabourother                       0.000000
typeofsexprostitution                   0.000000
typeofsexpornography                    0.000000
typeofsexother                          0.000000
recruiterrelationintimatepartner        0.000000
recruiterrelationfriend                 0.000000
recruiterrelationfamily                 0.000000
recruiterrelationother                  0.000000
dtype: float64

In [27]:
def fill_null_mode(data, cols):
    for col in cols:
        mode_val = data[col].mode()
        data[col] = data[col].fillna(mode_val[0])
    return data

In [28]:
eur_ht = fill_null_mode(eur_ht, eur_ht[['gender', 'agebroad']])

In [29]:
eur_ht.isna().sum()/len(ht)*100

yearofregistration                      0.0
gender                                  0.0
agebroad                                0.0
citizenship                             0.0
countryofexploitation                   0.0
meansofcontroldebtbondage               0.0
meansofcontroltakesearnings             0.0
meansofcontrolthreats                   0.0
meansofcontrolpsychologicalabuse        0.0
meansofcontrolphysicalabuse             0.0
meansofcontrolsexualabuse               0.0
meansofcontrolfalsepromises             0.0
meansofcontrolpsychoactivesubstances    0.0
meansofcontrolrestrictsmovement         0.0
meansofcontrolrestrictsmedicalcare      0.0
meansofcontrolexcessiveworkinghours     0.0
meansofcontrolthreatoflawenforce        0.0
meansofcontrolwithholdsnecessities      0.0
meansofcontrolwithholdsdocuments        0.0
meansofcontrolother                     0.0
isforcedlabour                          0.0
issexualexploit                         0.0
isotherexploit                          0.0
typeoflabouragriculture                 0.0
typeoflabourconstruction                0.0
typeoflabourdomesticwork                0.0
typeoflabourhospitality                 0.0
typeoflabourother                       0.0
typeofsexprostitution                   0.0
typeofsexpornography                    0.0
typeofsexother                          0.0
recruiterrelationintimatepartner        0.0
recruiterrelationfriend                 0.0
recruiterrelationfamily                 0.0
recruiterrelationother                  0.0
dtype: float64

## Countries-to-clusters data

due to a certain lack of adequate real data (e.g., on border control measures per country) and many available indices and variables reflecting countries only until about 2017, in combination with the 'yearofregistration' time-span of the human trafficking data, the following mixture of data was chosen for this research in order to cluster countries:<br>
- Global Competitiveness Index 2017-2018 (data for 2016) https://www.weforum.org/reports/the-global-competitiveness-report-2017-2018<br>
- Corruption Perceptions Index 2016 https://www.transparency.org/en/cpi/2020/index/table<br>
- Fragile States Index 2016 https://fragilestatesindex.org<br>
- Global Slavery Index 2018 (data for 2017) https://www.globalslaveryindex.org<br>
- Migration Integration Policy Index (fifth edition; covering 2007-2019) https://www.mipex.eu<br>
- Country Statistics - UNData (data for 2017) https://www.kaggle.com/sudalairajkumar/undata-country-profiles

### Global Competitiveness Index<br>
- columns to be extracted: 'Series' (country code) & 'Global Competitiveness Index' (index ranging from 1-7 (best))<br>
- rows to be extracted: countries in list eur_iso_3

In [30]:
gci = pd.read_excel('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/global_competitiveness_index_2017.xlsm')

In [31]:
gci.head()

,Series,"1.01 Property rights, 1-7 (best)","1.02 Intellectual property protection, 1-7 (best)",1. Property rights,"1.03 Diversion of public funds, 1-7 (best)","1.04 Public trust in politicians, 1-7 (best)","1.05 Irregular payments and bribes, 1-7 (best)",2. Ethics and corruption,"1.06 Judicial independence, 1-7 (best)","1.07 Favoritism in decisions of government officials, 1-7 (best)",...,"12.01 Capacity for innovation, 1-7 (best)","12.02 Quality of scientific research institutions, 1-7 (best)","12.03 Company spending on R&D, 1-7 (best)","12.04 University-industry collaboration in R&D, 1-7 (best)","12.05 Gov’t procurement of advanced tech products, 1-7 (best)","12.06 Availability of scientists and engineers, 1-7 (best)","12.07 PCT patents, applications/million pop.*",12th pillar: Innovation,Innovation and sophistication factors,Global Competitiveness Index
0,Series unindented,"Property rights, 1-7 (best)","Intellectual property protection, 1-7 (best)",1. Property rights,"Diversion of public funds, 1-7 (best)","Public trust in politicians, 1-7 (best)","Irregular payments and bribes, 1-7 (best)",2. Ethics and corruption,"Judicial independence, 1-7 (best)",Favoritism in decisions of government official...,...,"Capacity for innovation, 1-7 (best)","Quality of scientific research institutions, 1...","Company spending on R&D, 1-7 (best)","University-industry collaboration in R&D, 1-7 ...","Gov’t procurement of advanced tech products, 1...","Availability of scientists and engineers, 1-7 ...","PCT patents, applications/million pop.*",12th pillar: Innovation,Innovation and sophistication factors,Global Competitiveness Index
1,Attribute,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,ALB,3.707337,3.385709,3.600127,3.090982,3.266395,3.915789,3.424389,2.600933,2.944446,...,4.40533,2.841726,3.4239,3.427884,3.8986,3.280881,0.754434,3.199174,3.550606,4.184991
3,DZA,3.813971,3.67676,3.768234,3.190191,2.824241,3.37516,3.129864,3.512022,3.143458,...,3.627533,3.305939,2.908346,2.621478,3.014823,3.735321,0.177153,2.940951,3.12887,4.0655
4,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
gci = gci.iloc[:, [0,157]]

In [33]:
gci.columns

Index(['Series', 'Global Competitiveness Index'], dtype='object')

In [34]:
gci_eur = gci[(gci['Series'].isin(eur_iso_3))]

In [35]:
gci_eur

    Series Global Competitiveness Index
2      ALB                     4.184991
8      AUT                     5.246649
9      AZE                     4.690256
13     BEL                     5.225063
18     BIH                     3.868728
22     BGR                     4.463194
36     HRV                     4.190616
38     CZE                      4.77447
39     DNK                     5.390741
44     EST                     4.849882
46     FIN                     5.489405
47     FRA                     5.179511
50     GEO                     4.278862
51     DEU                      5.65484
53     GRC                     4.021734
60     HUN                      4.32659
61     ISL                     4.993068
65     IRL                     5.158468
67     ITA                      4.54212
71     KAZ                      4.34987
77     LVA                     4.397723
82     LTU                     4.584224
83     LUX                     5.232065
84     MKD                          NaN
89     MLT                     4.648111
93     MDA                     3.992343
95     MNE                     4.145179
101    NLD                     5.662014
105    NOR                     5.403793
112    POL                     4.594427
113    PRT                     4.567488
116    ROU                     4.276562
117    RUS                     4.641931
121    SRB                     4.141099
125    SVK                     4.333621
126    SVN                     4.477297
128    ESP                     4.700403
132    SWE                     5.518916
133    CHE                     5.857734
142    TUR                     4.418122
144    UKR                     4.106632
146    GBR                     5.506824

### Corruption Perceptions Index<br>
- columns to be extracted: 'ISO3' (country code) & 'CPI score' (index ranging from 0-100 (best))<br>
- rows to be extracted: 'year' = '2016' and countries in list eur_iso_3

In [36]:
cpi = pd.read_excel('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/corruption_perceptions_index_2012_2019.xlsx')

In [37]:
cpi.columns

Index(['Country', 'ISO3', 'Region', 'Year', 'CPI score', 'Rank', 'Sources',
       'Standard e'],
      dtype='object')

In [38]:
cpi = cpi.iloc[:, [1,3,4]]

In [39]:
cpi_16 = cpi[(cpi['Year'] == 2016)]

In [40]:
cpi_eur = cpi_16[(cpi_16['ISO3'].isin(eur_iso_3))]

In [41]:
cpi_eur = cpi_eur.iloc[:, [0,2]]

In [42]:
cpi_eur

     ISO3  CPI score
11    DNK       90.0
19    FIN       89.0
27    CHE       86.0
43    SWE       88.0
51    NOR       85.0
59    NLD       83.0
67    LUX       81.0
75    DEU       81.0
83    ISL       78.0
99    GBR       81.0
115   AUT       75.0
131   BEL       77.0
139   IRL       73.0
147   EST       70.0
187   FRA       69.0
243   PRT       62.0
267   ESP       58.0
299   SVN       61.0
307   LTU       59.0
331   POL       62.0
363   LVA       57.0
371   CZE       55.0
379   GEO       57.0
403   MLT       55.0
427   ITA       47.0
475   SVK       51.0
491   GRC       44.0
507   HRV       49.0
531   MNE       45.0
547   BLR       40.0
563   ROU       48.0
571   HUN       48.0
603   BGR       41.0
731   SRB       42.0
739   TUR       41.0
819   BIH       39.0
851   ALB       39.0
883   MKD       37.0
939   KAZ       29.0
979   MDA       30.0
1019  AZE       30.0
1027  UKR       29.0
1131  RUS       29.0

### Fragile States Index<br>
- columns to be extracted: 'Country' & 'Total' (index ranging from 0-... (the lower the better))<br>
- convert country name to iso3-code<br>
- rows to be extracted: countries in list eur_iso_3

In [43]:
fsi = pd.read_excel('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/fragile_state_index_2016.xlsx')

In [44]:
fsi.columns

Index(['Country', 'Year', 'Rank', 'Total', 'C1: Security Apparatus',
       'C2: Factionalized Elites', 'C3: Group Grievance', 'E1: Economy',
       'E2: Economic Inequality', 'E3: Human Flight and Brain Drain',
       'P1: State Legitimacy', 'P2: Public Services', 'P3: Human Rights',
       'S1: Demographic Pressures', 'S2: Refugees and IDPs',
       'X1: External Intervention'],
      dtype='object')

In [45]:
fsi = fsi.iloc[:, [0,3]]

In [46]:
def convert_country_to_iso3(column):
    iso3 = []
    for i in column:
        try:
            iso3.append(iso.loc[iso['name'] == i]['alpha-3'].item())
        except: 
            iso3.append(i)
    return iso3

In [47]:
fsi['Country'] = convert_country_to_iso3(fsi['Country'])

In [48]:
fsi

    Country  Total
0       SOM  114.0
1       SSD  113.8
2       CAF  112.1
3       SDN  111.5
4       YEM  111.5
..      ...    ...
173     CHE   21.8
174     DNK   21.5
175     NZL   21.3
176     NOR   21.2
177     FIN   18.8

[178 rows x 2 columns]

In [49]:
for i in fsi['Country']:
    if len(i) > 3:
        print(i)

Syria
Congo Democratic Republic
Guinea Bissau
Cote d'Ivoire
North Korea
Congo Republic
Swaziland
Iran
Laos
Tanzania
Venezuela
Kyrgyz Republic
Russia
Israel and West Bank
Bolivia
Micronesia
Moldova
Cape Verde
Vietnam
Macedonia
Slovak Republic
Czech Republic
South Korea
United States
United Kingdom

manually converting the European countries' names that are spelled differently:

In [50]:
for i in fsi['Country']:
    if 'Russia' in i:
        fsi['Country'] = fsi['Country'].str.replace('Russia', 'RUS')
    elif 'Moldova' in i:
        fsi['Country'] = fsi['Country'].str.replace('Moldova', 'MDA')
    elif 'Macedonia' in i: 
        fsi['Country'] = fsi['Country'].str.replace('Macedonia', 'MKD')
    elif 'Slovak Republic' in i: 
        fsi['Country'] = fsi['Country'].str.replace('Slovak Republic', 'SVK')
    elif 'Czech Republic' in i: 
        fsi['Country'] = fsi['Country'].str.replace('Czech Republic', 'CZE')
    elif 'United Kingdom' in i: 
        fsi['Country'] = fsi['Country'].str.replace('United Kingdom', 'GBR')

In [51]:
fsi_eur = fsi[(fsi['Country'].isin(eur_iso_3))]

### Global Slavery Index<br>
- columns to be extracted: 'Country', 'Est. prevalence of population in modern slavery (victims per 1,000 population)', 'Final overall (normalised, weighted) vulnerability score' (the lower the better) & 'TOTAL' (government response, the higher the better)
- convert country name to iso3-code
- rows to be extracted: countries in list eur_iso_3

In [52]:
gsi = pd.read_excel('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/global_slavery_index_2018.xlsx')

In [53]:
gsi.columns

Index(['Country ',
       'Population \n(from United Nations Population Division, World Population Prospects)',
       'Region',
       'Est. prevalence of population in modern slavery (victims per 1,000 population)',
       'Est. number of people in modern slavery',
       'Factor One Governance Issues ', 'Factor Two Nourishment and Access ',
       'Factor Three Inequality', 'Factor Four Disenfranchised Groups',
       'Factor Five Effects of Conflict',
       'Final overall (normalised, weighted) vulnerability score',
       'Support survivors', '%', 'Criminal justice', '%.1', 'Coordination',
       '%.2', 'NEG Government  complicity (1.4.3)',
       'NEG State-imposed forced labour (1.8.1)', 'Address risk', '%.3',
       'Supply chains', '%.4', 'SUM/104', 'SUM Neg', 'TOTAL', 'Credit rating'],
      dtype='object')

In [54]:
gsi = gsi.iloc[:, [0,3,10,25]]

In [55]:
gsi['Country '] = convert_country_to_iso3(gsi['Country '])

In [56]:
for i in gsi['Country ']:
    if len(i) > 3:
        print(i)

Korea, Democratic People's Republic of
Iran, Islamic Republic of
Swaziland
Macedonia, the former Yugoslav Republic of
Venezuela, Bolivarian Republic of
Cape Verde
Kosovo
Czech Republic
Bolivia, Plurinational State of
United Kingdom
Hong Kong, China
United States
Taiwan, China

manually converting the European countries' names that are spelled differently (Kosovo is not included as it does not appear in the human trafficking data, nor in the iso data (no political stance can be drawn from this choice)):

In [57]:
for i in gsi['Country ']:
    if 'Macedonia, the former Yugoslav Republic of' in i:
        gsi['Country '] = gsi['Country '].str.replace('Macedonia, the former Yugoslav Republic of', 'MKD')
    elif 'Czech Republic' in i: 
        gsi['Country '] = gsi['Country '].str.replace('Czech Republic', 'CZE')
    elif 'United Kingdom' in i: 
        gsi['Country '] = gsi['Country '].str.replace('United Kingdom', 'GBR')

In [58]:
gsi_eur = gsi[(gsi['Country '].isin(eur_iso_3))]

###  Migration Integration Policy Index<br>
- columns to be extracted: 'Country' & 'MIPI' (index ranging from 0-100 (best))<br>
- convert country name to iso3-code<br>
- rows to be extracted: countries in list eur_iso_3

In [59]:
mipi = pd.read_excel('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/migration_integration_policy_index_2020-pages-15-16.xlsx')

In [60]:
mipi.columns

Index(['Country', 'MIPI'], dtype='object')

In [61]:
mipi['Country'] = convert_country_to_iso3(mipi['Country'])

In [62]:
for i in mipi['Country']:
    if len(i) > 3:
        print(i)

Korea
United Kingdom
Moldova
Russia

manually converting the European countries' names that are spelled differently:

In [63]:
for i in mipi['Country']:
    if 'Russia' in i:
        mipi['Country'] = mipi['Country'].str.replace('Russia', 'RUS')
    elif 'Moldova' in i:
        mipi['Country'] = mipi['Country'].str.replace('Moldova', 'MDA')
    elif 'United Kingdom' in i: 
        mipi['Country'] = mipi['Country'].str.replace('United Kingdom', 'GBR')

In [64]:
mipi_eur = mipi[(mipi['Country'].isin(eur_iso_3))]

### Country Statistics<br>
- columns to be extracted:<br>
- 'country'<br>
- 'Surface area (km2)'<br>
- 'Population in thousands (2017)'<br>
- 'Population density (per km2, 2017)'<br>
- 'Sex ratio (m per 100 f, 2017)'<br>
- 'Employment: Agriculture (% of employed)'<br>
- 'Employment: Industry (% of employed)'<br>
- 'Employment: Services (% of employed)'<br>
- 'Unemployment (% of labour force)'<br>
- 'Labour force participation (female/male pop. %)'<br>
- 'International migrant stock (000/% of total pop.)'<br>
- 'Refugees and others of concern to UNHCR (in thousands)'<br>
<br>
- rows to be extracted: countries in list eur_iso_3<br>

In [65]:
stats = pd.read_csv('/Users/elissadejong/UpRouted/data_files/countries_to_clusters_data/country_profile_variables.csv')

In [66]:
stats.columns

Index(['country', 'Region', 'Surface area (km2)',
       'Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Sex ratio (m per 100 f, 2017)',
       'GDP: Gross domestic product (million current US$)',
       'GDP growth rate (annual %, const. 2005 prices)',
       'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
       'Economy: Industry (% of GVA)',
       'Economy: Services and other activity (% of GVA)',
       'Employment: Agriculture (% of employed)',
       'Employment: Industry (% of employed)',
       'Employment: Services (% of employed)',
       'Unemployment (% of labour force)',
       'Labour force participation (female/male pop. %)',
       'Agricultural production index (2004-2006=100)',
       'Food production index (2004-2006=100)',
       'International trade: Exports (million US$)',
       'International trade: Imports (million US$)',
       'International trade: Balance (million US$)',
       'Balance of payments, current account (million US$)',
       'Population growth rate (average annual %)',
       'Urban population (% of total population)',
       'Urban population growth rate (average annual %)',
       'Fertility rate, total (live births per woman)',
       'Life expectancy at birth (females/males, years)',
       'Population age distribution (0-14 / 60+ years, %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)',
       'Infant mortality rate (per 1000 live births',
       'Health: Total expenditure (% of GDP)',
       'Health: Physicians (per 1000 pop.)',
       'Education: Government expenditure (% of GDP)',
       'Education: Primary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Secondary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)',
       'Seats held by women in national parliaments %',
       'Mobile-cellular subscriptions (per 100 inhabitants)',
       'Mobile-cellular subscriptions (per 100 inhabitants).1',
       'Individuals using the Internet (per 100 inhabitants)',
       'Threatened species (number)', 'Forested area (% of land area)',
       'CO2 emission estimates (million tons/tons per capita)',
       'Energy production, primary (Petajoules)',
       'Energy supply per capita (Gigajoules)',
       'Pop. using improved drinking water (urban/rural, %)',
       'Pop. using improved sanitation facilities (urban/rural, %)',
       'Net Official Development Assist. received (% of GNI)'],
      dtype='object')

In [67]:
stats = stats.iloc[:, [0,2,3,4,12,13,14,15,16,29,30]]

In [68]:
stats['country'] = convert_country_to_iso3(stats['country'])

In [69]:
for i in stats['country']:
    if len(i) > 3:
        print(i)

British Virgin Islands
Channel Islands
China, Hong Kong SAR
China, Macao SAR
Democratic People's Republic of Korea
Democratic Republic of the Congo
Republic of Korea
Republic of Moldova
Saint Helena
State of Palestine
Swaziland
The former Yugoslav Republic of Macedonia
United Kingdom
United Republic of Tanzania
United States Virgin Islands
Wallis and Futuna Islands

manually converting the European countries' names that are spelled differently:

In [70]:
for i in stats['country']:
    if 'Republic of Moldova' in i:
        stats['country'] = stats['country'].str.replace('Republic of Moldova', 'MDA')
    elif 'The former Yugoslav Republic of Macedonia' in i: 
        stats['country'] = stats['country'].str.replace('The former Yugoslav Republic of Macedonia', 'MKD')
    elif 'United Kingdom' in i: 
        stats['country'] = stats['country'].str.replace('United Kingdom', 'GBR')

In [71]:
stats_eur = stats[(stats['country'].isin(eur_iso_3))]

### The merge of the countries' variables

doing the merge in steps to make sure all separate joins output the right results:

In [72]:
countries_var = eur_countries['alpha-3']

In [73]:
countries_var = countries_var.to_frame()

In [74]:
countries_var = countries_var.merge(gci_eur, how='outer', left_on='alpha-3', right_on='Series')

In [75]:
countries_var = countries_var.merge(cpi_eur, how='outer', left_on='alpha-3', right_on='ISO3')

In [76]:
countries_var = countries_var.merge(fsi_eur, how='outer', left_on='alpha-3', right_on='Country')

In [77]:
countries_var = countries_var.merge(gsi_eur, how='outer', left_on='alpha-3', right_on='Country ')

In [78]:
countries_var = countries_var.merge(mipi_eur, how='outer', left_on='alpha-3', right_on='Country')

In [79]:
countries_var = countries_var.merge(stats_eur, how='outer', left_on='alpha-3', right_on='country')

checking null vallues:

In [80]:
null_data = countries_var[countries_var.isnull().any(axis=1)]

In [81]:
null_data

,alpha-3,Series,Global Competitiveness Index,ISO3,CPI score,Country_x,Total,Country,"Est. prevalence of population in modern slavery (victims per 1,000 population)","Final overall (normalised, weighted) vulnerability score",...,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)",Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands)
0,ALA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,468,77.0,163.8,-99,-99,-99,-99,-99,42.1/59.7,-99
4,BLR,NaN,NaN,BLR,40.0,BLR,73.9,BLR,10.877024,47.275634,...,207600,9468.0,46.7,9.6,32.0,58.4,0.5,54.0/67.8,1082.9/11.4,7.9
6,BIH,BIH,3.868728,BIH,39.0,BIH,74.6,BIH,3.422194,46.356698,...,51209,3507.0,68.8,18.0,30.4,51.7,25.4,34.3/57.5,34.8/0.9,157.6
12,FRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1393,49.0,35.3,...,...,...,4.0,79.4/86.0,5.5/11.4,-99
16,GIB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,35.0,3457.1,-99,-99,-99,-99,.../...,11.1/34.3,-99
18,GGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,VAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,~0,1.0,1800.0,-99,-99,-99,-99,-99,0.8/100.0,-99
23,IMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,572,84.0,147.9,...,...,...,2.6,57.5/69.3,45.2/51.5,-99
25,JEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,LIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160,38.0,237.0,-99,-99,-99,2.6,53.5/70.6,23.5/62.6,0.3
30,MLT,MLT,4.648111,MLT,55.0,MLT,39.6,MLT,NaN,NaN,...,315,431.0,1346.4,1.2,20.9,77.9,5.4,39.4/65.7,41.4/9.9,8.1
32,MCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,39.0,25969.8,-99,-99,-99,...,.../...,21.0/55.8,~0.0
33,MNE,MNE,4.145179,MNE,45.0,MNE,55.2,MNE,5.860328,35.821851,...,13812,629.0,46.8,7.5,17.3,75.2,17.4,41.8/55.9,82.5/13.2,16.0
35,MKD,MKD,NaN,MKD,37.0,MKD,67.0,MKD,8.661376,45.602911,...,25713,2083.0,82.6,16.2,29.2,54.5,27.3,43.9/67.8,130.7/6.3,1.4
41,SMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61,33.0,556.7,...,...,...,6.6,.../...,4.7/14.8,-99
46,SJM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,AZE,AZE,4.690256,AZE,30.0,AZE,76.3,AZE,4.464912,47.752007,...,86600,9828.0,118.9,36.7,14.2,49.1,5.2,62.0/68.8,264.2/2.7,623.3
52,KAZ,KAZ,4.34987,KAZ,29.0,KAZ,66.5,KAZ,4.210617,43.318814,...,2724902,18204.0,6.7,18.1,20.4,61.6,5.6,66.3/77.5,3546.8/20.1,9.2
53,GEO,GEO,4.278862,GEO,57.0,GEO,78.9,GEO,4.333950,39.161117,...,69700,3912.0,56.3,44.7,11.2,44.1,11.4,57.9/79.0,168.8/4.2,274.1

dropping rows that have epistemological limitations (and also do not appear in the human trafficking data), namely:<br>
- ALA<br>
- AND<br>
- FRO<br>
- GIB<br>
- GGY<br>
- VAT<br>
- IMN<br>
- JEY<br>
- LIE<br>
- MCO<br>
- SMR<br>
- SJM<br>

In [82]:
countries_var = countries_var.drop(labels=[0,2,12,16,18,19,23,25,27,32,41,46], axis=0)

dropping all but one column storing the countries' iso_3_codes & prettifying the column headers of the "final" dataframe:

In [83]:
countries_var.columns

Index(['alpha-3', 'Series', 'Global Competitiveness Index', 'ISO3',
       'CPI score', 'Country_x', 'Total', 'Country ',
       'Est. prevalence of population in modern slavery (victims per 1,000 population)',
       'Final overall (normalised, weighted) vulnerability score', 'TOTAL',
       'Country_y', 'MIPI', 'country', 'Surface area (km2)',
       'Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Employment: Agriculture (% of employed)',
       'Employment: Industry (% of employed)',
       'Employment: Services (% of employed)',
       'Unemployment (% of labour force)',
       'Labour force participation (female/male pop. %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)'],
      dtype='object')

In [84]:
countries_var = countries_var.drop(['Series', 'ISO3', 'Country_x', 'Country ', 'Country_y', 'country'], axis=1)

In [85]:
countries_var.rename({'alpha-3': 'country_iso', 'Global Competitiveness Index': 'gci_index', 'CPI score': 'cp_index', 'Total': 'fs_index', 'Est. prevalence of population in modern slavery (victims per 1,000 population)': 'modslave_per_1000', 'Final overall (normalised, weighted) vulnerability score': 'vul_modslave', 'TOTAL': 'gov_response_modslave', 'MIPI': 'mip_index'}, axis=1, inplace=True)

In [86]:
countries_var.rename({'Surface area (km2)': 'surface_area', 'Population in thousands (2017)': 'population_1000', 'Population density (per km2, 2017)': 'population_dense'}, axis=1, inplace=True)

In [87]:
countries_var.rename({'Employment: Agriculture (% of employed)': 'employed_agriculture', 'Employment: Industry (% of employed)': 'employed_industry', 'Employment: Services (% of employed)': 'employed_services', 'Unemployment (% of labour force)': 'unemployed', 'Labour force participation (female/male pop. %)': 'labour_part_f_m'}, axis=1, inplace=True)

In [88]:
countries_var.rename({'International migrant stock (000/% of total pop.)': 'migrant_stock_1000_percpop', 'Refugees and others of concern to UNHCR (in thousands)': 'ref_ooc_1000'}, axis=1, inplace=True)

In [89]:
countries_var.columns

Index(['country_iso', 'gci_index', 'cp_index', 'fs_index', 'modslave_per_1000',
       'vul_modslave', 'gov_response_modslave', 'mip_index', 'surface_area',
       'population_1000', 'population_dense', 'employed_agriculture',
       'employed_industry', 'employed_services', 'unemployed',
       'labour_part_f_m', 'migrant_stock_1000_percpop', 'ref_ooc_1000'],
      dtype='object')

dealing with the remaining null values:<br>
- dropping the row with MLT (Malta), as it does not appear in the human trafficking data anyways<br>
- as MKD (Macedonia) was not included in the used version of the Global Competitiveness Index, the missing value for the gci_index for MKD will be filled with its index for 2018 (rescaled, as that index value is 56.6/100)<br>
- as BLR (Belarus) was not included in any version of the Global Competitiveness Index, the missing value for the gci_index for BLR will be filled with the mean<br>
- the missing values for the mip_index will not be filled at this point. Initially, the mip_index will be excluded from the cluster analysis

In [90]:
null_data = countries_var[countries_var.isnull().any(axis=1)]
null_data

,country_iso,gci_index,cp_index,fs_index,modslave_per_1000,vul_modslave,gov_response_modslave,mip_index,surface_area,population_1000,population_dense,employed_agriculture,employed_industry,employed_services,unemployed,labour_part_f_m,migrant_stock_1000_percpop,ref_ooc_1000
4,BLR,NaN,40.0,73.9,10.877024,47.275634,40.119048,NaN,207600,9468.0,46.7,9.6,32.0,58.4,0.5,54.0/67.8,1082.9/11.4,7.9
6,BIH,3.868728,39.0,74.6,3.422194,46.356698,48.630952,NaN,51209,3507.0,68.8,18.0,30.4,51.7,25.4,34.3/57.5,34.8/0.9,157.6
30,MLT,4.648111,55.0,39.6,NaN,NaN,NaN,48.0,315,431.0,1346.4,1.2,20.9,77.9,5.4,39.4/65.7,41.4/9.9,8.1
33,MNE,4.145179,45.0,55.2,5.860328,35.821851,63.988095,NaN,13812,629.0,46.8,7.5,17.3,75.2,17.4,41.8/55.9,82.5/13.2,16.0
35,MKD,NaN,37.0,67.0,8.661376,45.602911,63.214286,42.0,25713,2083.0,82.6,16.2,29.2,54.5,27.3,43.9/67.8,130.7/6.3,1.4
51,AZE,4.690256,30.0,76.3,4.464912,47.752007,48.154762,NaN,86600,9828.0,118.9,36.7,14.2,49.1,5.2,62.0/68.8,264.2/2.7,623.3
52,KAZ,4.34987,29.0,66.5,4.210617,43.318814,32.797619,NaN,2724902,18204.0,6.7,18.1,20.4,61.6,5.6,66.3/77.5,3546.8/20.1,9.2
53,GEO,4.278862,57.0,78.9,4.333950,39.161117,62.797619,NaN,69700,3912.0,56.3,44.7,11.2,44.1,11.4,57.9/79.0,168.8/4.2,274.1

In [91]:
countries_var = countries_var.drop(labels=30, axis=0)

In [92]:
# gci_index MKD = (56.6*7)/100 = 3.962
mask = (countries_var['country_iso'] == 'MKD')
countries_var.loc[mask, 'gci_index'] = countries_var.loc[mask, 'gci_index'].fillna(3.962)

In [93]:
mask = (countries_var['country_iso'] == 'BLR')
mean = countries_var['gci_index'].mean()
countries_var.loc[mask, 'gci_index'] = countries_var.loc[mask, 'gci_index'].fillna(mean)

- splitting the column 'labour_part_f_m' in two columns (1 for female labour participation, 1 for male labour participation)<br>
- changing the column 'migrant_stock_1000_percpop' to 'migrant_stock_1000' (so, only keeping the international migrant stock in numbers*1000 value and not the percent of the total population value)

In [94]:
countries_var[['labour_part_f','labour_part_m']] = countries_var.labour_part_f_m.str.split('/', expand=True)
countries_var.head()

,country_iso,gci_index,cp_index,fs_index,modslave_per_1000,vul_modslave,gov_response_modslave,mip_index,surface_area,population_1000,population_dense,employed_agriculture,employed_industry,employed_services,unemployed,labour_part_f_m,migrant_stock_1000_percpop,ref_ooc_1000,labour_part_f,labour_part_m
1,ALB,4.184991,39.0,61.2,6.870872,45.200895,59.880952,43.0,28748,2930.0,106.9,41.4,18.3,40.3,15.8,40.2/61.0,57.6/2.0,8.8,40.2,61.0
3,AUT,5.246649,75.0,27.5,1.738006,3.354883,63.095238,46.0,83871,8736.0,106.0,4.7,25.6,69.7,6.2,54.6/65.8,1492.4/17.5,166.4,54.6,65.8
4,BLR,4.71706,40.0,73.9,10.877024,47.275634,40.119048,NaN,207600,9468.0,46.7,9.6,32.0,58.4,0.5,54.0/67.8,1082.9/11.4,7.9,54.0,67.8
5,BEL,5.225063,77.0,29.0,2.026892,13.054976,68.333333,69.0,30528,11429.0,377.5,1.2,21.2,77.6,8.3,48.1/58.9,1387.9/12.3,63.8,48.1,58.9
6,BIH,3.868728,39.0,74.6,3.422194,46.356698,48.630952,NaN,51209,3507.0,68.8,18.0,30.4,51.7,25.4,34.3/57.5,34.8/0.9,157.6,34.3,57.5

In [95]:
countries_var = countries_var.drop(['labour_part_f_m'], axis=1)

In [96]:
countries_var['migrant_stock_1000_percpop'] = countries_var.migrant_stock_1000_percpop.str.extract(r'([+-]?([0-9]*[.])?[0-9]+(?=[/]))')

In [97]:
countries_var.head()

,country_iso,gci_index,cp_index,fs_index,modslave_per_1000,vul_modslave,gov_response_modslave,mip_index,surface_area,population_1000,population_dense,employed_agriculture,employed_industry,employed_services,unemployed,migrant_stock_1000_percpop,ref_ooc_1000,labour_part_f,labour_part_m
1,ALB,4.184991,39.0,61.2,6.870872,45.200895,59.880952,43.0,28748,2930.0,106.9,41.4,18.3,40.3,15.8,57.6,8.8,40.2,61.0
3,AUT,5.246649,75.0,27.5,1.738006,3.354883,63.095238,46.0,83871,8736.0,106.0,4.7,25.6,69.7,6.2,1492.4,166.4,54.6,65.8
4,BLR,4.71706,40.0,73.9,10.877024,47.275634,40.119048,NaN,207600,9468.0,46.7,9.6,32.0,58.4,0.5,1082.9,7.9,54.0,67.8
5,BEL,5.225063,77.0,29.0,2.026892,13.054976,68.333333,69.0,30528,11429.0,377.5,1.2,21.2,77.6,8.3,1387.9,63.8,48.1,58.9
6,BIH,3.868728,39.0,74.6,3.422194,46.356698,48.630952,NaN,51209,3507.0,68.8,18.0,30.4,51.7,25.4,34.8,157.6,34.3,57.5

In [98]:
countries_var.rename({'migrant_stock_1000_percpop': 'migrant_stock_1000'}, axis=1, inplace=True)

### Adding column 'node_type'<br>
Is the country an origin, a destination or both (in terms of the human trafficking data)?<br>
- origin = appears in the column 'citizenship' of the eur_ht dataframe<br>
- destination = appears in the column 'countryofexploitation' of the eur_ht dataframe<br>
- both = appears in both columns

In [99]:
origin = eur_ht['citizenship'].tolist()

In [100]:
destination = eur_ht['countryofexploitation'].tolist()

In [101]:
def node_type(column):
    node_type = []
    for i in column:
        if i in origin:
            i = 'origin'
            node_type.append(i)
        elif i in destination:
            i = 'destination'
            node_type.append(i)
        elif i in origin and i in destination:
            i = 'both'
            node_type.append(i)
        else:
            i = 'neither'
            node_type.append(i)
    return node_type

In [102]:
countries_var['node_type'] = node_type(countries_var['country_iso'])

In [103]:
countries_var.head()

,country_iso,gci_index,cp_index,fs_index,modslave_per_1000,vul_modslave,gov_response_modslave,mip_index,surface_area,population_1000,population_dense,employed_agriculture,employed_industry,employed_services,unemployed,migrant_stock_1000,ref_ooc_1000,labour_part_f,labour_part_m,node_type
1,ALB,4.184991,39.0,61.2,6.870872,45.200895,59.880952,43.0,28748,2930.0,106.9,41.4,18.3,40.3,15.8,57.6,8.8,40.2,61.0,origin
3,AUT,5.246649,75.0,27.5,1.738006,3.354883,63.095238,46.0,83871,8736.0,106.0,4.7,25.6,69.7,6.2,1492.4,166.4,54.6,65.8,destination
4,BLR,4.71706,40.0,73.9,10.877024,47.275634,40.119048,NaN,207600,9468.0,46.7,9.6,32.0,58.4,0.5,1082.9,7.9,54.0,67.8,origin
5,BEL,5.225063,77.0,29.0,2.026892,13.054976,68.333333,69.0,30528,11429.0,377.5,1.2,21.2,77.6,8.3,1387.9,63.8,48.1,58.9,destination
6,BIH,3.868728,39.0,74.6,3.422194,46.356698,48.630952,NaN,51209,3507.0,68.8,18.0,30.4,51.7,25.4,34.8,157.6,34.3,57.5,origin

In [104]:
countries_var.columns

Index(['country_iso', 'gci_index', 'cp_index', 'fs_index', 'modslave_per_1000',
       'vul_modslave', 'gov_response_modslave', 'mip_index', 'surface_area',
       'population_1000', 'population_dense', 'employed_agriculture',
       'employed_industry', 'employed_services', 'unemployed',
       'migrant_stock_1000', 'ref_ooc_1000', 'labour_part_f', 'labour_part_m',
       'node_type'],
      dtype='object')

### Standardization of the country data (StandardScaler)

In [105]:
to_transform = countries_var.drop(countries_var.iloc[:, [0,7,19]], axis=1)

In [106]:
transformer = StandardScaler()
transformer_fit = transformer.fit(to_transform)
transformed = transformer_fit.transform(to_transform)

### Countries-to-clusters: K-means Cluster Analysis

In [107]:
kmeans = KMeans(n_clusters=8, random_state=42)
kmeans.fit(transformed)

KMeans(random_state=42)

In [108]:
clusters = kmeans.predict(transformed)
clusters

array([2, 1, 3, 7, 2, 3, 3, 3, 1, 3, 1, 4, 4, 2, 3, 1, 1, 4, 3, 3, 1, 2,
       2, 7, 2, 1, 3, 3, 3, 5, 2, 3, 3, 4, 1, 1, 6, 4, 0, 0, 0, 6],
      dtype=int32)

In [109]:
pd.Series(clusters).value_counts().sort_index()

0     3
1     9
2     7
3    13
4     5
5     1
6     2
7     2
dtype: int64

In [110]:
countries_var["cluster"] = clusters
countries_var.head()

,country_iso,gci_index,cp_index,fs_index,modslave_per_1000,vul_modslave,gov_response_modslave,mip_index,surface_area,population_1000,...,employed_agriculture,employed_industry,employed_services,unemployed,migrant_stock_1000,ref_ooc_1000,labour_part_f,labour_part_m,node_type,cluster
1,ALB,4.184991,39.0,61.2,6.870872,45.200895,59.880952,43.0,28748,2930.0,...,41.4,18.3,40.3,15.8,57.6,8.8,40.2,61.0,origin,2
3,AUT,5.246649,75.0,27.5,1.738006,3.354883,63.095238,46.0,83871,8736.0,...,4.7,25.6,69.7,6.2,1492.4,166.4,54.6,65.8,destination,1
4,BLR,4.71706,40.0,73.9,10.877024,47.275634,40.119048,NaN,207600,9468.0,...,9.6,32.0,58.4,0.5,1082.9,7.9,54.0,67.8,origin,3
5,BEL,5.225063,77.0,29.0,2.026892,13.054976,68.333333,69.0,30528,11429.0,...,1.2,21.2,77.6,8.3,1387.9,63.8,48.1,58.9,destination,7
6,BIH,3.868728,39.0,74.6,3.422194,46.356698,48.630952,NaN,51209,3507.0,...,18.0,30.4,51.7,25.4,34.8,157.6,34.3,57.5,origin,2

In [111]:
countries_var[['country_iso', 'cluster']]

   country_iso  cluster
1          ALB        2
3          AUT        1
4          BLR        3
5          BEL        7
6          BIH        2
7          BGR        3
8          HRV        3
9          CZE        3
10         DNK        1
11         EST        3
13         FIN        1
14         FRA        4
15         DEU        4
17         GRC        2
20         HUN        3
21         ISL        1
22         IRL        1
24         ITA        4
26         LVA        3
28         LTU        3
29         LUX        1
31         MDA        2
33         MNE        2
34         NLD        7
35         MKD        2
36         NOR        1
37         POL        3
38         PRT        3
39         ROU        3
40         RUS        5
42         SRB        2
43         SVK        3
44         SVN        3
45         ESP        4
47         SWE        1
48         CHE        1
49         UKR        6
50         GBR        4
51         AZE        0
52         KAZ        0
53         GEO        0
54         TUR        6

In [112]:
kmeans.inertia_

195.311555829899

### Cluster Profiling

### Connect to SQL for general analysis

In [113]:
eur_ht.to_csv(r'/Users/elissadejong/UpRouted/data_files/european_selection_human_trafficking_database.csv')

In [114]:
# password = getpass.getpass()

In [115]:
# connection_string = 'mysql+pymysql://root:' + password + '@localhost/UpRouted'

# engine = create_engine(connection_string)